.agent__dashboard {
  margin-left: 15vw;
  margin-top: 5vh;
  display: grid;
  height: 200vh;
  width: 70vw;
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr 2fr 2fr;
  grid-template-areas:
    "agent-income"
    "agent-travelers"
    "agent-pending";
  grid-gap: 0.2rem;
}

.agent__income {
  text-align: center;
  border: 1px solid red;
  grid-area: agent-income;
}

.agent__active-travelers {
  text-align: center;
  border:1px solid purple;
  grid-area: agent-travelers;
}

.agent__pending-trips {
  border: 1px solid orange;
  grid-area: agent-pending;
}

.agent__income-amount {
  margin-top: 2vh;
  font-size: 4rem;
  color: green;
}
