* {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h2 {
  text-align: center;
}

p {
  margin: 0;
}

.vertical-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

// -------------------LOG IN SCREEN-------------------
.login__wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/ocean.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.login__element-wrapper {
  position: absolute;
  left: 50vw;
  top: 50vh;
}

.login__title {
  font-size: 4rem;
}

.login__button {
  margin-top: 2vh;
}

.login__form {
  @extend .vertical-wrapper;
  position: absolute;
  left: 25vw;
  top: 25vh;
  width: 50%;
  height: 55%;
  font-size: 2rem;
  border-radius: 50px;
  background-color: lightgrey;
}

.login__heading {
  margin-top: 2vh;
}

.login__label {
  margin-top: 3vh;
}

.login__input {
  height: 3vh;
  width: 15vw;
}

.login__error {
  color: red;
  font-size: 1.5rem;
}

.login__button {
  margin-top: 5vh;
}

// -------------------USER LAYOUT-------------------
.user-wrapper {
  display: grid;
  height: 180vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 2fr 2fr 1fr;
  grid-template-areas:
    "heading heading heading heading"
    "user-pending-trips user-main-form user-main-form user-main-form"
    "user-pending-trips user-main-form user-main-form user-main-form"
    "user-past-trips user-past-trips user-past-trips user-past-trips";
    grid-gap: 0.2rem;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lighten(cornflowerblue, 20%);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  grid-area: heading;
  border-bottom: 2px solid grey;
}

.main-display {
  grid-area: user-main-form;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.past-trips {
  grid-area: user-past-trips;
  padding: 10px;
  max-width: 93vw;
}

.pending-trips {
  grid-area: user-pending-trips;
  padding: 10px;
  overflow-y: scroll;
}

// -------------------STYLING-------------------

.welcome {
  margin-top: 7vh;
  font-size: 3rem;
}

.log-out {
  margin-right: 5%;
}

.heading__element-wrapper {
  position: absolute;
  top: 50%;
  left: 55%;
}

.heading__button {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  font-size: 1.4rem;
  background: darken(aqua, 15%);
  &:hover {
    background: darken(aqua, 30%);
  }
}

.title {
  margin-left: 5%;
  font-size: 3rem;
}

.sub-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.log-in {
  margin: 5% 0 0 30%;
}

.logo-span {
  color: darken(aqua, 30%);
}

.pending-trips__header,
.past-trips__header {
  text-align: center;
}

.main-display__header {
  margin-top: 4%;
  font-size: 2rem;
}

// ------------------FORM-----------------
.form__background {
  height: 80%;
  width: 80%;
  border-radius: 50px;
  background-image: url('../images/window-seat.jpg');
  background-position: 50% 50%;
  background-size: 200% 200%;
}

.form__wrapper {
  @extend .vertical-wrapper;
  margin: auto;
  margin-top: 8%;
  border-radius: 50px;
  height: 70%;
  width: 50%;
  padding: 5%;
  opacity: 0.8;
}

.form__input-wrapper {
  @extend .vertical-wrapper;
  align-items: center;
  margin: 2%;
}

.input__cost-display {
  font-size: 2em;
  color: green;
}

.form__button {
  margin-top: 2%;
  width: 40%;
}

.form__confirm-buttons-wrapper {
  display: flex;
  justify-content: space-around;
}

.form {
  height: 100%;
  width: 70%;
  text-align: center;
}

.form__list {
  width: 80%;
}

fieldset {
  @extend .vertical-wrapper;
  text-align: center;
  border-radius: 10px;
  margin: 2%;
}

.input__cost-wrapper {
  height: 30%;
  margin-top: 15%;
}

.form__confirmation {
  font-size: 1.5rem;
  margin-top: 5%;
}

.form__error {
  color: red;
}

.hidden {
  display: none;
}
// ----------------------PENDING TRIPS-------------------
.pending-trip__status {
  font-weight: 700;
}

.pending-trips__trip-wrapper {
  padding: 5px;
  margin: 2px;
}

.pending {
  color: red;
}

.approved {
  color: green;
}

// ----------------------PAST TRIPS-------------------
.past-trips__wrapper {
  display: flex;
  overflow-x: scroll;
}

.past-trips__trip {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.past-trips__image {
  width: 200px;
}

.past-trips__trip-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.past-trips__expenditures {
  margin-left: 25%;
  width: 50vw;
}

.past-trips__expenditures-text {
  font-size: 1.5rem;
  text-align: center;
}


// -------------------MEDIA QUERIES-------------------

@media (max-width: 1000px) {
  .user-wrapper {
    height: 200vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 6fr 1.5fr;
    grid-template-areas:
    "heading"
    "user-pending-trips"
    "user-main-form"
    "user-past-trips";
  }

}

@media (max-width: 800px) {
  .form__wrapper {
    width: 70%;
  }

  .welcome {
    display: none;
  }
}

@media (max-width: 560px) {
  .heading {
    flex-direction: column;
    align-items: center;
  }

  .past-trips {
    grid-area: user-past-trips;
    padding: 10px;
    max-width: 90vw;
  }

  .welcome {
    margin: 0;
  }

  .user-wrapper {
    height: 200vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 6fr 1.5fr;
    grid-template-areas:
    "heading"
    "user-pending-trips"
    "user-main-form"
    "user-past-trips";
  }

  .form__background {
    width: 95%;
  }

  .log-out {
    margin-bottom: 5px;
  }
}
