body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;

}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
 font-weight: 700;
}

h2 {
  text-align: center;
}

p {
  margin: 0;
}

.vertical-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

// -------------------LAYOUT-------------------
.user-wrapper {
  display: grid;
  height: 150vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 3.5fr 1fr;
  grid-template-areas:
    "heading heading heading heading"
    "user-pending-trips user-main-form user-main-form user-main-form"
    "user-past-trips user-past-trips user-past-trips user-past-trips";
    grid-gap: 0.2rem;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background: url('../images/beach.jpg');
  background-size: 100% 150%;
  grid-area: heading;
}

.form {
  grid-area: user-main-form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.past-trips {
  grid-area: user-past-trips;
  background-color: maroon;
}

.pending-trips {
  background-color: chocolate;
  grid-area: user-pending-trips;
}

// -------------------STYLING-------------------

.form__background {
  height: 80%;
  width: 80%;
  border-radius: 50px;
  background-image: url('../images/window-seat.jpg');
  background-position: 50% 50%;
  background-size: 200% 200%;
}

.form__wrapper {
  @extend .vertical-wrapper;
  margin: auto;
  margin-top: 15%;
  border-radius: 50px;
  height: 70%;
  width: 50%;
}

.heading__text {
  margin-left: -5rem;
}

.hidden {
  display: none;
}

// -------------------MEDIA QUERIES-------------------

@media (max-width: 1000px) {
  .user-wrapper {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 3.5fr 1fr;
    grid-template-areas:
      "heading heading heading heading"
      "user-pending-trips user-main-form user-main-form user-main-form"
      "user-past-trips user-past-trips user-past-trips user-past-trips";
      grid-gap: 0.2rem;
  }
}

@media (max-width: 720px) {
  .user-wrapper {
    height: 150vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr 4fr 1fr;
    grid-template-areas:
    "heading"
    "user-pending-trips"
    "user-main-form"
    "user-past-trips";
  }
}
